body {
    background-color: #ededed;
}

.needsclick {
    cursor: pointer;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.spinner {
    background: url('images/spinner.svg') no-repeat;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
}

.right {
    float: right;
}

.button__default {
    display: block;
    background-color: #f7636a;
    color: white;
    padding: 12px 20px;
    font-size: 12px;
    cursor: pointer;
}

.tvguide-controls {
    margin: 20px 0;
}

.tvguide-controls__side {
    display: inline-block;
}


.tvguide-controls__channelselect:hover {
    background-color: #c93d3d;
}

.tvguide-filters{
    margin-top: 20px;
}

.tvguide-filters__genre {
    display: inline-block;
}

.swiper {
    height: 25px;
}

.swiper__arrow {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #dbdbdc;
    position: absolute;
}

.swiper__arrow__left {
    left: 0px;
}

.swiper__arrow__right {
    right: 0px;
}

.swiper__scrollbar {
    height: 25px;
    border: 1px solid #dbdada;
    width: auto;
    position: absolute;
    left: 30px;
    right: 30px;
    cursor: pointer;
    background-color: #ededed;
    box-sizing: border-box;
}

.swiper__scrollbar__drag {
    background-color: #bbbcbf;
    height: 100%;
    width: 100%;
    border: 3px solid #ededed;
    position: relative;
    box-sizing: border-box;
}

.tvguide__channels {
    padding: 0px;
    width: 70px;
    display: block;
    list-style-type: none;
    background-color: white;
    position: absolute;
}

.tvguide__channels__channel {
    width: 70px;
    height: 70px;
    background: url(images/channels.png) no-repeat;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.channellist {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin: 20px 0;
    padding: 20px 0;
}

.channellist__channel {
    width: 20%;
    display: inline-block;
    padding: 5px 0;
}

.modal {
    background: #fff;
    position: relative;
    margin: 0 auto;
    padding: 35px;
    max-width: 1000px;
    z-index: 2;
}

.modal__close {
    position:absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.modal__confirm {
    display: inline-block;
}

.overlay {
    background-color: rgba(0,0,0,.35);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hidden {
    display: none;
}
